@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BikeFindr</h1>
    <p class="lead">An Open Source solution to keep track of your bicycle!</p>
    <p><a href="http://BikeFindr.azurewebsites.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account and manage your BikeFindr!
        </p>
        <p><a class="btn btn-default" href="http://BikeFindr.azurewebsites.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How Does It Work?</h2>
        <p>Find out about the technologies behind BikeFindr</p>
        <p><a class="btn btn-default" href="http://BikeFindr.azurewebsites.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FAQ</h2>
        <p>What common questions do people have about BikeFindr</p>
        <p><a class="btn btn-default" href="http://BikeFindr.azurewebsites.net">Learn more &raquo;</a></p>
    </div>
</div>